.test .node-title {
  padding-left: 25px;
  text-align: center;
}

.test .node-value {
  padding-left: 0;
  padding-right: 25px;
  text-align: center;
}

.test .attribute-title {
  padding-left: 25px;
  text-align: center;
}

.test .attribute-value {
  padding-left: 25px;
  text-align: center;
}
